<div class="row">
  <div class="col s8">
    <!-- primary partial gets displayed here in main div -->
    <%= render partial: "#{primary}" %>
  </div>
  <div class="col s4">
    <!-- space -->
    <p>&nbsp;</p>
  </div>
</div>
<div class="row">
  <%= render :partial => 'partials/display_base_errors', locals: {object: object} %>
  <div class="list_head">
    <%= render :partial => 'partials/object_options', locals: {model_name: model_name, object: object} %>
  </div>
</div>
<%= render :partial => "#{association_card}", locals: {object: object} %>