<p class="supertiny">&nbsp;</p>

<div id="footer" class="center-align">
  
  <%= link_to 'Home', home_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
  <%= link_to 'About Find a Cosplay', about_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
  <br />
  <div id="copy">
    Webmaster: <% mail_to("stephanie.reed.3026@gmail.com", "Stephanie Reed", encode: "javascript") %> 
    &nbsp;&nbsp;&copy 2025
  </div>

</div>
