<div class="card">
    <div class="card-content">
        <h4>Saves</h4><br />
        <b><%= link_to 'Saved Items', user_items_path %></b><br />
        <b><%= link_to 'Saved Characters', user_characters_path %></b><br />
        <b><%= link_to 'Saved Media', user_media_path %></b>
    </div>
</div>
