<div class="row">
    <h4> About Find a Cosplay</h4>
    <div class="card">
        <div class="card-content">
            <p>A website personal project to find resources for new cosplays!</p>
        </div>
    </div>
</div>
<div class="row">
    <h4> About the Creator </h4>
    <div class="card">
        <div class="card-content">
            <p>I'm a cosplayer :D</p>
        </div>
    </div>
</div>
