<%= image_tag "cureSky.jpeg", alt: "A photo of Cure Sky (Precure), mid-magical-girl-transformation", id: "cureSkyImg" %>
<div class="row">
    <h4> About Find a Cosplay</h4>
    <div class="card">
        <div class="card-content">
            <b>A website personal project to find resources for new cosplays!</b>
            <p>&nbsp;</p>
            <p>I've thought about making this website for a while and finally decided to attempt it in December 2025!
                I think it's so import for cosplayers (especially new ones!) to have simple resources for what materials and items to buy.
            </p>
            <p>&nbsp;</p>
            <p>This project was created primarily with Ruby on Rails to get more familiar with creating web application's by myself while focusing on something close to me,
                see the GitHub repo <%= link_to "here", "https://github.com/sreed119/findacosplay" %> :3
            </p>
            <p>&nbsp;</p>
            <p id="side_note">| Note that I'm not accepting contributions to this project, but you are welcome to fork it for your own purposes! </p>
        </div>
    </div>
</div>
<div class="row">
    <h4> About the Creator </h4>
    <div class="card small">
        <div class="card-content">
            <div class="about_text">
                <p>I'm a cosplayer and (aspiring) software developer :D</p>
                <p>&nbsp;</p>
                <p>I have experience here and there with creating some self contained projects (in Rails and otherwise), as well as contributing to existing works, but I wanted to get some experience deploying projects of my own.
                    I appreciate your support and hope you find the site pleasing! 
                </p>
                <p>&nbsp;</p>
                <p>If anything here does not work as intended, please let me know!</p>
            </div>
            <%= image_tag "aboutme.jpg", alt: "A selfie of the creator in cosplay (Agent 3, Splatoon)", id: "about_me_photo" %>
        </div>
    </div>
</div>
