<div id="root"></div>

<div class="row">
    <div class="card">
      <div class="card-content">
        <p> Find a Cosplay, your favorite cosplay resource finder! :3
        </p>
      </div>
    </div>
</div>
