<div class="row">
    <h4>Welcome to Find a Cosplay</h4>
    <div class="card">
      <div class="card-content">
        <p> Find a Cosplay, your favorite cosplay resource finder! :3
        </p>
      </div>
    </div>
</div>
