<% if @characters.any? %>
    <% for character in @characters %>
    <div class="col s4">
        <div class="card small">
            <div class="card-image list_card">
                <% if character.image.attached? %>
                    <%= image_tag character.image, class: "list_img" %>
                <% else %>
                    <%= image_tag "photo_placeholder.jpg", class: "list_img" %>
                <% end %>
            </div>
            <div class="card-content">
                <span class="card-title"><%= link_to "#{character.name}", character_path(character) %></span>
                <p><%= link_to "#{character.medium.name}", medium_path(character.medium) %></p>
            </div>
        </div>
    </div>
    <% end %>
<% else %>
    <h4 class="no_match">No results match this search, sorry!</h4>
<% end %>