<div class="card">
    <div class="card-content">
        <h4>Saved Items</h4>
        <table class="striped-highlight">
            <thead>
                <th>Name</th>
                <th>Purchased</th>
                <th class="align_center">Options</th>
            </thead>
            <% for user_item in @user_items%>
                <tr>
                    <td><%= link_to "#{user_item.item.name}", item_path(user_item.item) %></td>
                    <td><%= user_item.purchased ? 'Yes' : 'No' %></td>
                    <td class="align_center">
                    <%= link_to edit_user_item_path(user_item) do %>
                        <i class="material-icons">edit</i>
                    <% end %>
                    &nbsp;&nbsp;&nbsp;&nbsp; 
                    <%= link_to(user_item_path(user_item), method: :delete, data: { confirm: 'Are you sure you wish to delete this information?' }) do %>
                        <i class="material-icons">delete</i>
                    <% end %>
                    </td>
                </tr>
            <% end %>
        </table>
        <br />
        <%# Paginate if turns out to work correctly %>
    </div>
</div>
