<div class="card">
    <div class="card-content">
        <h4>Characters</h4>
        <ul>
            <% for character in characters %>
                <li><%= link_to "#{character.name}", character_path(character) %></li>
            <% end %>
        </ul>
    </div>
</div>
