<div class="card">
    <div class="card-content">
        <h3>Media</h3>
        <table class="striped-highlight">
            <thead>
                <th>Name</th>
                <th>Media Type</th>
                <% if logged_in? %>
                    <th class="align_center">Options</th>
                <% end %>
            </thead>
            <% for medium in @media%>
                <tr>
                    <td><%= link_to "#{medium.name}", medium_path(medium) %></td>
                    <td><%= medium.media_type.capitalize %></td>
                    <% if logged_in? %>
                        <td class="align_center">
                        <%= link_to edit_medium_path(medium) do %>
                            <i class="material-icons">edit</i>
                        <% end %>
                        &nbsp;&nbsp;&nbsp;&nbsp; 
                        <%= link_to(medium_path(medium), method: :delete, data: { confirm: 'Are you sure you wish to delete this information?' }) do %>
                            <i class="material-icons">delete</i>
                        <% end %>
                        </td>
                    <% end %>
                </tr>
            <% end %>
        </table>
        <br />
        <%# Paginate if turns out to work correctly %>
    </div>
</div>
