<div class="card">
    <div class="card-content">
        <h3><%= @medium.name %></h3><br />
        <b>Media Type: <%= @medium.media_type %></b><br />

        <b><%= link_to 'Save This Media', new_user_medium_path(medium_id: @medium.id) %></b><br />
    </div>
</div>
<%= render partial: "characters", locals: { characters: @characters } %>
