<% if @media.any? %>
    <% for medium in @media %>
    <div class="col s4">
        <div class="card small">
            <div class="card-image list_card">
                <% if medium.image.attached? %>
                    <%= image_tag medium.image, class: "list_img" %>
                <% else %>
                    <%= image_tag "photo_placeholder.jpg", class: "list_img" %>
                <% end %>
            </div>
            <div class="card-content">
                <span class="card-title"><%= link_to truncate(medium.name, length: 22, omission: "..."), medium_path(medium) %></span>
                <p><%= medium.media_type.capitalize %></p>
            </div>
        </div>
    </div>
    <% end %>
<% else %>
    <h4 class="no_match">No results match this search, sorry!</h4>
<% end %>
