:root {
    --primary_background: #8ac5f2;
    --primary_text: #29061c;
    --primary_hover: #7DB1DA;
}

html {
    font-family: "trebuchet ms", sans-serif;
    // font-family: 'Josefin Sans', sans-serif;
}

// TOP BAR AND NAV
#topbar {
    background-color: var(--primary_background);
    padding-top: 5px;
    margin-bottom: 0px;
    color: var(--primary_text);
}

#topbar a {
  color: var(--primary_text);
}

#topbar_banner {
  width: 30%;
  margin: 0 auto;
  display: block;
}

#nav {
  background-color: var(--primary_background);
  height: 55px;
}

#nav ul a {
  color: var(--primary_text);
  font-size: 1.2rem;
}

.nav_item {
    display: inline-block;
    padding: 0 12px;
    line-height: 55px;
    height: 55px;
    color: var(--primary_text);
    font-family: "roboto", sans-serif;
    font-size: 14.5px;
}

.nav-container {
  overflow: hidden;
}

#hamburger-container {
  background-color: #f2aac2;
  margin-top: 0px;
}

#hamburger-content {
  display: none;
  left: 0;
  margin: 55px;
  background-color: #f2aac2;
  width: 100%;
  margin-top: 0px;
}

#hamburger-toggle {
  background: var(--primary_background);
  display: block;
  position: absolute;
  left: 0;
}

.hamburger-item {
  color: #000000;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown_btn {
  background-color: var(--primary_background);
  font-size: 1.2rem;
}

.dropdown .dropdown_btn {
  line-height: 55px;
  border: none;
  outline: none;
  color: var(--primary_text);
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

#dropdown_content {
  display: none;
  position: absolute;
  margin-top: 55px;
  background-color: var(--primary_background);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#dropdown_content li {
  line-height: 50px;
  float: none;
  background-color: #ffffff;
  color: var(--primary_text);
  display: block;
  text-align: left;
  list-style: none;
}

#nav #dropdown_content li a {
  color: var(--primary_text);
  font-size: 14px;
  display: block;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  padding-top: 0px;
}

.dropdown:hover #dropdown_content {
  display: block;
}

.dropdown_link {
  font-size: 10px;
}

#profile_tab {
  border-bottom-style: solid;
  border-bottom-color: #d6d6d6;
}

#logout_tab {
  border-top-style: solid;
  border-top-color: #d6d6d6;
}

#dropdown_trigger {
  width: 160px;
}

.dropdown:hover #dropdown_trigger {
  background-color: var(--primary_hover);
}

#dropdown_caret {
  display: inline;
  float: right;
}

#query {
  color: #ffffff;
}

// FLASH MESSAGES
#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
  color: #008000;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
  color: #800000;
}

// STICKY FOOTER LAYOUT
body.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body.page-wrapper main {
  flex: 1;
}

body.page-wrapper #footer-wrapper {
  flex-shrink: 0;
}

// FOOTER
#footer {
  background-color: var(--primary_background);
  padding: 20px;
  margin-bottom: 0px;
  color: var(--primary_text);
  line-height: 2rem;
}

#footer a {
  color: var(--primary_text);
}

// TABLES
.table {
  margin-right: 10px;
}

table.striped > tbody > tr:nth-child(odd) {
  background-color: #fff;
}

table.striped > tbody > tr:nth-child(even) {
  background-color: #fffde7;
}

table.highlight > tbody > tr:hover {
  background-color: #fff59d;
}

table.card {
  border: none;
  background-color: #fffde7;
}

table.card > tr > td {
  height: 50px;
}

td.align_right {
  text-align: right;
}

td.align_center {
  text-align: center;
}

th.align_right {
  text-align: right;
}

th.align_center {
  text-align: center;
}

// BUTTONS
.trash_button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.trash_icon {
  color: #049BE5;
}

.btn {
  background-color: var(--primary_text);
  color: var(--primary_background);
}

.btn:hover {
  background-color: #75a4c7;
  color: #000;
}

.btn-secondary {
  background-color: #eceff1;
  color: #000;
}

.btn-secondary:hover {
  background-color: #cfd8dc;
  color: #000;
}

.btn-alert {
  background-color: #c62828;
  color: #fff;
}
.btn-alert:hover {
  background-color: #e53935;
  color: #fff;
}

// FORMS
.switch label input[type=checkbox]:checked + .lever {
  background-color: #ffea00;
}

.switch label input[type=checkbox]:checked + .lever::after {
  background-color: #FFCB05;
}

.picker__date-display {
  background-color: #FFCB05;
  color: #000;
}

.picker__year-display {
  color: #000;
}

input[type=text].search {
  border-bottom: none;
  margin-left: 10px;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
  border-radius: 50%;
  transform: scale(0.9);
  background-color: #FFCB05;
  color: #000;
}

.check_boxes.optional.filled-in {
  background-color: #FFCB05;
}

[type="checkbox"].filled-in:checked+label:after {
  border: 2px solid #FFCB05;
  background-color: #FFCB05;
}

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
  border: 2px solid #FFCB05;
  background-color: #FFCB05;
}

#form-template {
  padding-left: 20px;
}

// IMAGE MEDIA
.img_left {
  float: left;
  padding-right: 10px;
}

.img_right {
  float: right;
  padding-left: 10px;
}

.carousel {
  height: 250px;
}

// CARDS
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #ffab00;
}

.remove {
  color: #b71c1c;
}

li.no_bullet {
  list-style-type: none;
}

// TABS
.tabs .tab a.active {
  color: #ffc400;
}

.tabs .tab a:hover {
  color: #FFCB05;
}

.tabs .tab a {
  color: #bdbdbd;
}

.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #FFCB05;
  will-change: left, right;
}

// LIST ITEMS
li.address {
  padding: 0.0rem 0.0rem 0.875rem 0.0rem;
}

// FLASH ALERT BOXES
.alert-box {
  border-style: solid;
  border-width: 1px;
  display: block;
  font-size: 0.8125rem;
  font-weight: normal;
  margin-bottom: 1.25rem;
  padding: 0.875rem 1.5rem 0.875rem 0.875rem;
  position: relative;
  transition: opacity 300ms ease-out;
  background-color: #008CBA;
  border-color: #0078a0;
  color: #FFFFFF; } 
  .alert-box .close {
    right: 0.25rem;
    background: inherit;
    color: #333333;
    font-size: 1.375rem;
    line-height: .9;
    margin-top: -0.6875rem;
    opacity: 0.3;
    padding: 0 6px 4px;
    position: absolute;
    top: 50%; }
    .alert-box .close:hover, .alert-box .close:focus {
      opacity: 0.5; }
  .alert-box.radius {
    border-radius: 3px; }
  .alert-box.round {
    border-radius: 1000px; }
  .alert-box.success {
    background-color: #e8f5e9;
    border-color: #a5d6a7;
    color: #1b5e20; }
  .alert-box.alert {
    background-color: #f04124;
    border-color: #de2d0f;
    color: #FFFFFF; }
  .alert-box.secondary {
    background-color: #e7e7e7;
    border-color: #c7c7c7;
    color: #4f4f4f; }
  .alert-box.warning {
    background-color: #f76a6a;
    border-color: #ef1800;
    color: #FFFFFF; }
  .alert-box.info {
    background-color: #a0d3e8;
    border-color: #74bfdd;
    color: #4f4f4f; }
  .alert-box.alert-close {
    opacity: 0; }

// CUSTOM MATERIALIZE BUTTONS
.waves-effect .waves-pink {
   /* The alpha value allows the text and background color
   of the button to still show through. */
    background-color: rgba(240, 175, 199, 0.65);
  }

/* Make actual .btn elements with the waves-pink class use a pink background
   (this overrides the generic .btn rule above via cascade since it's later) */
.btn.waves-pink, a.btn.waves-pink {
  background-color: #f48fb1; /* pink */
  color: #ffffff;
  margin-bottom: 20px;
}

.btn.waves-pink:hover, a.btn.waves-pink:hover {
  background-color: #eb6e98; /* darker pink on hover */
  color: #ffffff;
}

// ABOUT ME ADJUSTMENTS
#cureSkyImg {
  width: 50%;
  display: block;
  margin: 0 auto;
}

#side_note {
  color: #858585;
}
.about_text {
  display: inline-block;
  width: 60%;
}
#about_me_photo {
  float: right;
  margin-left: 15px;
  width: 25%;
  display: inline;
}

// UPLOAD BUTTON
.upload_button {
  display: block;
  margin-bottom: 10px;
}
